QFrame#Logon{
    border:solid 10px black;
    border-image: url(:/Logo/LogonWidget.jpg);
    background-position:center;
    background-repeat:no-repeat;
}
QWidget#widget_3{
    border:solid 10px black;
    border-image: url(:/Logo/Robot.png);
    background-position:center;
    background-repeat:no-repeat;
}
QWidget#widget{
    border:solid 10px black;
    border-image: url(:/Logo/a921b6ad98a96f5eccea8e2046f425a.jpg);
    background-position:center;
    background-repeat:no-repeat;
}
QLabel, QToolTip {
    border: 2px solid green; /* border: 宽度 线类型 颜色 */
    border-radius: 4px;
    padding: 2px; /* 边界都内部矩形的宽度 */
}
QLineEdit {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0 8px;
    background: white;
    selection-background-color: darkgray;
}
QListView {
    alternate-background-color: yellow;
}
QListView {
    show-decoration-selected: 1;
}
QListView::item:alternate {
        background: #EEEEEE;
    }
QListView::item:selected {
        border: 1px solid #6a6ea9;
    }
QListView::item:selected:!active {
            background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ABAFE5, stop: 1 #8588B2);
        }
QListView::item:selected:active {
            background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6a6ea9, stop: 1 #888dd9);
        }
QListView::item:hover {
        background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FAFBFE, stop: 1 #DCDEF1);
    }
QPushButton {
	background-color: green;
	color: white;
}
QPushButton::hover {
	background-color: yellow;
}
QPushButton:disabled {
	background-color: grey;
}
QPushButton::pressed {
        background-color: red;
}
QPushButton:checked {
	color: white;
	background-color:  rgba(37, 130, 122, 255);
}
QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
}
QProgressBar::chunk {
    background-color: #05B8CC;
    width: 20px;
}
QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
}
QProgressBar::chunk {
    background-color: #CD96CD;
    width: 10px;
    margin: 0.5px;
}
QGroupBox {
    font-size: 20px;
    font-family: "微软雅黑";
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 10px;
    border-width: 2px;
   
}
QGroupBox::title {
     background-color: orange;
     color: rgb(0, 0, 0);
     subcontrol-origin: margin;
     left: 10px;
}